@import "/src/styles/mixins";
@import "/src/styles/pallete";

.qrSteps {
    @include flex-center-column;
    margin: 130px 0 206px;
    overflow: hidden;
    @media (max-width: 1279.98px) {
        margin: 53px 0 -5px;
    }
    @media (max-width: 767.98px) {
        margin: 0;
    }
}