@import "/src/styles/mixins";
@import "/src/styles/pallete";
.scrolledSection {
    width: 100%;
    overflow: hidden;
    padding: 23px 28px;
    border-bottom: 2px solid $black;
    :global {
        .marquee-container {
            &::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    }
    .scroledItems {
        @include flex-center-vert;
        flex-wrap: nowrap;
        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none;
        scrollbar-width: none;
        .scroledItem {
            position: relative;
            &:not(:last-child) {
                padding-right: 41px;
                margin-right: 41px;
                &::after {
                    content: "";
                    @include absoluteCenter(vertical);
                    right: 0;
                    transform: translate(50%, -50%);
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 13C8.05634 11.7183 11.9014 8.42253 13 0C13.9155 8.42253 18.3099 11.7183 26 13C18.3099 14.2817 14.2817 18.3099 13 26C11.7183 18.3099 8.05634 14.2817 0 13Z' fill='%233D65F7'/%3E%3C/svg%3E");
                    width: 26px;
                    height: 26px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }
            p {
                @include fontRem(28, 400, 37);
                font-family: "MADE";
                white-space: nowrap;
                text-transform: uppercase;
            }
        }
    }
}
