@import "/src/styles/mixins";
@import "/src/styles/pallete";

.cookieBanner{
    background: $black;
    color: $white;
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: flex-end;
    bottom: 20px;
    padding: 32px 28px;
    right: 20px;
    border: 1px solid $white;
    max-width: 490px;
    max-height: 240px;
    z-index: 999999;
    @media (max-width: 767.98px) {
        right: 20px;
        left: 20px;
    padding: 25px 28px;

    }
    .cookieBannerInfo{
        @include fontRem(16, 400, 22);
        display: flex;
        flex-direction: column;
        gap: 16px;
        .cookieBannerInfoReadMore{
            color: $white;
       }
       @media (max-width: 767.98px) {
        @include fontRem(14, 400, 22);
        right: 20px;
        left: 20px;
        gap: 10px
    }
    }
    .cookieBannerButns{
        display: flex;
        gap: 24px;
        margin-top: 52px;
        align-items: center;
        @media (max-width: 767.98px) {
            margin-top: 25px;
        }
        .acceptCookies{
            
        }
        Button{
            padding: 12px 10px !important;
        }
    }
}