@import "/src/styles/mixins";
@import "/src/styles/pallete";

.whoWe {
    padding-top: 120px;
    background-color: $black;
    @media (max-width: 767.98px) {
        padding-top: 64px;
    }
    @media (max-width: 1279.98px) {
        padding-top: 90px;
    }
    @media (max-width: 767.98px) {
        padding-top: 38px;
    }
    .whoWeTitle {
        @include fontRem(64, 400, 84);
        color: $white;
        font-family: "MADE";
        @media (max-width: 1279.98px) {
            @include fontRem(32, 400, 42);
        }
        @media (max-width: 767.98px) {
            @include fontRem(24, 400, 32);
        }
    }
    .whoWeDescr {
        margin: 32px 0;
        max-width: 840px;
        @media (max-width: 1279.98px) {
            max-width: 100%;
            text-align: justify;
        }
        @media (max-width: 767.98px) {
            margin: 22px 0;
            text-align: left;
        }
        p {
            width: 100%;
            @include fontRem(16, 400, 22);
            color: $white;
            margin-bottom: 10px;
            @media (max-width: 767.98px) {
                @include fontRem(16, 400, 22);
                margin: 22px 0;
                margin-bottom: 6px;
            }
        }
    }
}
