$blue: #1778FB;
$blue-1: #1339E7;
$blue-2: #0057CC;
$blue-3: #496EF6;
$blue--light: #C6DEFE;
$blue--light-1: #8AC2DD;
$blue--light-2: #A4C1CF;
$blue--light-3: #778AA4;

$green: #14C6A4;
$green-1: #00D4A1;
$green-2: #0AB494;
$green-3: #01DFB8;

$purple: #6553F5;

$white: #F0F1F3;
$black: #1E222B;
$black-1: #242424;








