@import "/src/styles/mixins";
@import "/src/styles/pallete";

.caseStudiesHero {
    background-color: $black;
    padding: 92px 0 64px;
    color: $white;
    .caseStudiTitle {
        @include fontRem(80, 400, 116);
        font-family: "MADE";
        color: $white;
    }
    .caseStudiSubTitle {
        margin-top: 60px;
        color: $white;
        max-width: 1010px;
        @include fontRem(32, 400, 44);
    }
}