@import "/src/styles/mixins";
@import "/src/styles/pallete";

.aboutHero {
    padding-top: 90px;
    background-color: $black;
    .aboutTitle {
        @include fontRem(88, 400, 116);
        color: $white;
        font-family: "MADE";
    }
    .aboutSubTitle {
        @include fontRem(40, 400, 54);
        color: $white;
        max-width: 652px;
        margin: 32px 0;
    }
}
