@import "/src/styles/mixins";
@import "/src/styles/pallete";

.faqSection {
    padding: 76px 0;
    color: $white;
    background-color: $black;
    @media (max-width: 1279.98px) {
        padding: 60px 0;
    }
    .faqTitle {
        @include fontRem(48, 400, 63);
        font-family: "MADE";
        margin-bottom: 24px;
        @media (max-width: 1279.98px) {
            @include fontRem(40, 400, 53);
        }
    }
    .faqDescr {
        @include fontRem(14, 400, 19);
        max-width: 520px;
    }
    .faqList {
        margin-top: 56px;
    }
}
