@import "/src/styles/mixins";
@import "/src/styles/pallete";

.invesTonusHero {
    @include flex-center-vert;
    height: 540px;
    color: $white;
    gap: 49px;
    @media (max-width: 1279.98px) {
        height: 710px;
        display: flex;
        align-items: end;
        margin-top: 85px;
    }
    @media (max-width: 767.98px) {
        height: 290px;
    }
    .invesTonusHerocontainer{
        display: flex;
        gap: 137px;
        .invesTonusWiewBtn{
            min-width: 166px;
            @media (max-width: 767.98px) {
               margin-bottom: 32px  ;
                }
        }
        @media (max-width: 1279.98px) {
              
        }
        @media (max-width: 767.98px) {
        gap: 25px
        ;
        img{
            height: auto;
        }
        flex-direction: column;
        }
    }
    .invesTonusHeroDesk{
        display: flex;
        @include flex-center-vert;
         height: 540px;
         color: $white;
         gap: 49px;
    }
    .arrowLink {
        margin-bottom: 70px;
    }
    h1 {
        @include fontRem(72, 400, 95);
        font-family: "MADE";
        margin-bottom: 32px;
        margin-top: 29px;
        @media (max-width: 1279.98px) {
         @include fontRem(64, 400, 84);   
         margin-top: 32px;
         margin-bottom: 16px;
        }
        @media (max-width: 767.98px) {
            @include fontRem(26, 400, 34);   
            margin-top: 32px;
            margin-bottom: 16px;
        }
    }
    p {
        @include fontRem(24, 400, 33);
        margin-bottom: 55px;
        max-width: 457px;
        @media (max-width: 1279.98px) {
            margin-bottom: 32px;
            @include fontRem(20, 400, 27);   
           }
        @media (max-width: 767.98px) {
            @include fontRem(16, 400, 22); 
            margin-bottom: 16px;  
           }
    }
}
.invesTonusPageImg{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: end;
    
    @media (max-width: 1279.98px) {
        img{
            height: 370px;
            width: 420px;
        }
    }
    @media (max-width: 767.98px) {
       img{
       height: auto;
       width: 100vw;
       }
    }
    
}